/******************************************************************
Project: EtonDigital Frontend Task
Code by: Mze.ninja
Date: May 2019
******************************************************************/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin-ext");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("../fonts/flag-icons/css/flag-icon.min.css");
body,
div,
span,
section,
article,
header,
footer,
nav,
aside,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
font,
img,
strong,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
select,
option,
input,
textarea,
table,
tr,
td,
th,
blockquote,
button {
  margin: 0;
  padding: 0;
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

ul,
ol,
li {
  list-style: none; }

.right-text {
  text-align: right; }

.right {
  float: right; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

input, form, textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit; }

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  line-height: normal; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  line-height: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

button {
  background: transparent;
  border: 0; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  /* -webkit-appearance: none; */
  border-radius: 0;
  line-height: 2em;
  transition: opacity 0.4s ease-out;
  outline: none; }

.error input {
  border-color: #FF4C4C; }

.error input[type="submit"] {
  background: #FF4C4C;
  color: #fff; }

.loading input {
  opacity: 0.5; }

.ellipsis {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.clear {
  display: block;
  clear: both; }

.button, input[type="submit"] {
  cursor: pointer; }

.button.desabled {
  cursor: default; }

/* variables */
/* mixing */
/* extends */
.floating, .grid-5 > div, .tabs-nav ul li, .pagination li, .editors-pick-wrapper .editors-pick-card .editors-pick-card__likes span, .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper .editors-pick-card__tags a, footer .logo a img {
  display: inline-block;
  vertical-align: top;
  margin-right: -5px; }
  .floating:last-child, .grid-5 > div:last-child, .tabs-nav ul li:last-child, .pagination li:last-child, .editors-pick-wrapper .editors-pick-card .editors-pick-card__likes span:last-child, .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper .editors-pick-card__tags a:last-child, footer .logo a img:last-child {
    margin-right: 0; }

.fade, a, .btn, header .search-bar input, header .search-bar button {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.no-fade {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none; }

.hov, a:hover, .btn:hover, header .search-bar button:hover {
  opacity: .8;
  -moz-opacity: .8; }

.act, a:active, .btn:active, header .search-bar button:active {
  opacity: .6;
  -moz-opacity: .6; }

.block-centering {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.img, .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper img, .most-popular-wrapper .most-popular-card .most-popular-card__link img, .latest-wrapper .latest-item .latest-item__cover img, .how-to-wrapper .how-to-card img {
  width: 100%;
  height: auto;
  line-height: 0; }

.hidding-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* fonts */
.base-font, body,
body *,
input,
textarea,
select {
  font-family: 'PT Sans', Arial, sans-serif; }

/* global */
html,
body {
  height: 100vh;
  min-height: 100vh;
  min-width: 318px; }

html {
  font-size: 62.5%; }

body {
  background: white;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  font-size: 1.6rem;
  line-height: 2.2rem; }

a {
  color: #b8dc1e;
  text-decoration: none; }
  a:hover {
    color: #b8dc1e; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333; }

h1 {
  font-size: 40px;
  line-height: 52px;
  font-size: 4rem;
  line-height: 5.2rem; }

h2 {
  font-size: 35px;
  line-height: 40px;
  font-size: 3.5rem;
  line-height: 4rem; }

h3,
h4 {
  font-size: 28px;
  line-height: 40px;
  font-size: 2.8rem;
  line-height: 4rem; }

h5 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem; }

h6 {
  font-size: 16px;
  line-height: 20px;
  font-size: 1.6rem;
  line-height: 2rem; }

/* grid */
.container {
  width: 1366px;
  margin: 0 auto; }
  @media screen and (max-width: 1580px) {
    .container {
      width: 1180px; } }
  @media screen and (max-width: 1380px) {
    .container {
      width: 1024px; } }
  @media screen and (max-width: 1180px) {
    .container {
      width: 900px; } }
  @media screen and (max-width: 980px) {
    .container {
      width: 100%;
      padding: 0 15px; } }

.grid-3,
.grid-4,
.grid-6 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -18px;
  height: 100%; }
  @media screen and (max-width: 1180px) {
    .grid-3,
    .grid-4,
    .grid-6 {
      margin: 0 -10px; } }
  @media screen and (max-width: 600px) {
    .grid-3,
    .grid-4,
    .grid-6 {
      margin: 0; } }
  .grid-3 > div,
  .grid-4 > div,
  .grid-6 > div {
    width: 25%;
    padding: 0 18px; }
    @media screen and (max-width: 1180px) {
      .grid-3 > div,
      .grid-4 > div,
      .grid-6 > div {
        padding: 0 10px; } }

.grid-3 > div {
  width: 33.33333%; }
  @media screen and (max-width: 899px) {
    .grid-3 > div {
      width: 50%;
      padding: 10px; }
      .grid-3 > div:last-child {
        width: 100%; } }
  @media screen and (max-width: 600px) {
    .grid-3 > div {
      width: 100%;
      padding: 10px 0; } }

@media screen and (max-width: 900px) {
  .grid-4 > div {
    width: 50%;
    padding: 10px; } }

@media screen and (max-width: 600px) {
  .grid-4 > div {
    width: 100%;
    padding: 10px 0; } }

.grid-5 {
  height: 100%;
  text-align: center; }
  .grid-5 > div {
    width: 20%; }

.grid-6 > div {
  width: 16.66667%;
  padding: 0 18px 36px; }
  @media screen and (max-width: 1180px) {
    .grid-6 > div {
      padding: 0 10px 20px; } }
  @media screen and (max-width: 900px) {
    .grid-6 > div {
      width: 33.33333%;
      padding: 10px; } }
  @media screen and (max-width: 600px) {
    .grid-6 > div {
      width: 50%;
      padding: 10px 0; }
      .grid-6 > div:nth-child(1n) {
        padding-right: 10px; }
      .grid-6 > div:nth-child(2n) {
        padding-left: 10px;
        padding-right: 0; } }

/* buttons */
.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  width: 160px;
  height: 46px;
  display: block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: bold; }
  .btn--green {
    background: #b8dc1e;
    border-bottom: 3px solid #9dba22;
    color: rgba(51, 51, 51, 0.7); }
    .btn--green:hover {
      color: #333333; }
  .btn--ghost {
    background: white;
    border: 1px solid #c5c5c5; }
    .btn--ghost i {
      padding: 0 5px; }
    .btn--ghost:hover {
      background: #b8dc1e;
      border: 1px solid #b8dc1e;
      color: white; }

/* separator line */
.separator {
  display: block;
  width: 60px;
  height: 6px;
  background: #b8dc1e;
  margin: 20px auto; }

/* hr */
hr {
  border-top: 1px solid #333;
  margin: 0;
  padding: 0;
  line-height: 0; }

/* tag link */
.tag {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 3px 10px;
  text-transform: uppercase;
  color: #333;
  border: 2px solid #c5c5c5;
  border-left: 8px solid #b8dc1e; }
  .tag:hover {
    background: #b8dc1e;
    border: 2px solid #b8dc1e;
    border-left: 8px solid #b8dc1e;
    color: #333; }

/* tabs */
.tabs-nav {
  overflow: hidden;
  padding: 40px 0; }
  @media screen and (max-width: 359px) {
    .tabs-nav {
      padding: 20px 0; } }
  .tabs-nav ul {
    text-align: center; }
    @media screen and (max-width: 359px) {
      .tabs-nav ul li {
        display: block;
        margin: 0;
        width: 130px;
        text-align: center;
        margin: 0 auto; }
        .tabs-nav ul li:last-child {
          margin: 0 auto !important; } }
    .tabs-nav ul li a {
      display: block;
      font-weight: bold;
      color: #333;
      margin: 0 15px;
      padding: 5px 10px;
      border-bottom: 3px solid transparent; }
      @media screen and (max-width: 359px) {
        .tabs-nav ul li a {
          border-bottom: 0 !important;
          padding: 15px 10px; } }
    .tabs-nav ul li.active a {
      color: #9dba22;
      border-bottom: 3px solid #9dba22; }
      @media screen and (max-width: 359px) {
        .tabs-nav ul li.active a {
          border-bottom: 0 !important; } }

/* cover play */
.cover-play {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #b8dc1e; }
  .cover-play img {
    width: 50% !important;
    height: 50% !important;
    margin: auto !important;
    line-height: 0 !important;
    z-index: 11 !important; }

/* pagination */
.pagination {
  text-align: center;
  margin-top: 20px; }
  @media screen and (max-width: 900px) {
    .pagination {
      margin-top: 40px; } }
  .pagination li {
    margin: 0 5px; }
    @media screen and (max-width: 480px) {
      .pagination li {
        margin: 0; } }
    .pagination li a,
    .pagination li span {
      display: block;
      padding: 10px 0;
      text-align: center;
      width: 45px;
      border: 1px solid #c5c5c5;
      background: white;
      color: #333;
      font-weight: bold; }
      @media screen and (max-width: 480px) {
        .pagination li a,
        .pagination li span {
          padding: 3px 0 5px;
          width: 30px; } }
    .pagination li a:hover,
    .pagination li.active a {
      background: #b8dc1e;
      border: 1px solid #b8dc1e;
      color: white; }
    .pagination li.active a {
      border-bottom: 3px solid #9dba22;
      padding: 10px 0 8px; }
      @media screen and (max-width: 480px) {
        .pagination li.active a {
          padding: 3px 0; } }
    .pagination li span {
      padding: 7px 0 13px;
      border: 1px solid transparent; }
      @media screen and (max-width: 480px) {
        .pagination li span {
          padding: 3px 0; } }
    .pagination li:first-child {
      margin-right: 50px; }
      @media screen and (max-width: 900px) {
        .pagination li:first-child {
          display: block;
          margin: 0;
          padding-bottom: 15px; }
          .pagination li:first-child button {
            margin: 0 auto; } }
    .pagination li:last-child {
      margin-left: 50px; }
      @media screen and (max-width: 900px) {
        .pagination li:last-child {
          display: block;
          margin: 0;
          padding-top: 15px; }
          .pagination li:last-child button {
            margin: 0 auto; } }

/* header */
header {
  position: fixed;
  z-index: 200;
  width: 100%;
  display: flex;
  background: #333;
  padding: 16px 35px; }
  @media screen and (max-width: 1280px) {
    header {
      padding: 10px 25px 7px;
      position: relative; } }
  @media screen and (max-width: 980px) {
    header {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (max-width: 680px) {
    header {
      padding: 10px 15px; } }
  header h1 {
    line-height: 0; }
  header .logo img {
    height: 53px;
    width: auto;
    line-height: 0; }
    @media screen and (max-width: 1280px) {
      header .logo img {
        height: 40px; } }
  header .main-nav {
    padding: 16px 0 0 80px; }
    @media screen and (max-width: 1770px) {
      header .main-nav {
        padding-left: 40px; } }
    @media screen and (max-width: 1280px) {
      header .main-nav {
        display: none;
        position: absolute;
        z-index: 200;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 10px;
        background: rgba(157, 186, 34, 0.9); } }
    header .main-nav ul {
      display: flex; }
      @media screen and (max-width: 1280px) {
        header .main-nav ul {
          display: block; } }
    header .main-nav ul li {
      padding: 0 15px; }
      @media screen and (max-width: 1280px) {
        header .main-nav ul li {
          display: block; } }
      header .main-nav ul li a {
        color: white; }
        @media screen and (max-width: 1280px) {
          header .main-nav ul li a {
            color: #333;
            text-align: center;
            display: block;
            font-size: 22px;
            line-height: 55px;
            font-size: 2.2rem;
            line-height: 5.5rem;
            font-weight: bold; } }
        header .main-nav ul li a:hover {
          color: #b8dc1e; }
          @media screen and (max-width: 1280px) {
            header .main-nav ul li a:hover {
              color: white; } }
      header .main-nav ul li ul {
        position: absolute;
        display: block;
        z-index: 999;
        padding-top: 15px; }
        @media screen and (max-width: 1280px) {
          header .main-nav ul li ul {
            position: relative;
            padding: 0; } }
        header .main-nav ul li ul li {
          width: 200px;
          padding: 0;
          display: block;
          border-bottom: 1px solid #333; }
          @media screen and (max-width: 1280px) {
            header .main-nav ul li ul li {
              width: 100%;
              border-bottom: 0; } }
          header .main-nav ul li ul li a {
            display: block;
            padding: 8px 15px;
            background: #b8dc1e;
            color: #333 !important; }
            @media screen and (max-width: 1280px) {
              header .main-nav ul li ul li a {
                padding: 0;
                background: transparent;
                font-size: 20px;
                line-height: 50px;
                font-size: 2rem;
                line-height: 5rem; } }
          header .main-nav ul li ul li:hover a {
            background: white;
            opacity: 1; }
            @media screen and (max-width: 1280px) {
              header .main-nav ul li ul li:hover a {
                background: transparent; } }
      header .main-nav ul li.active a {
        color: #b8dc1e; }
        @media screen and (max-width: 1280px) {
          header .main-nav ul li.active a {
            color: white; } }
  header .search-bar {
    margin-left: auto;
    margin-right: 250px;
    padding-top: 8px;
    position: relative; }
    @media screen and (max-width: 1770px) {
      header .search-bar {
        margin-right: 50px; } }
    @media screen and (max-width: 1280px) {
      header .search-bar {
        margin-top: -9px; } }
    @media screen and (max-width: 767px) {
      header .search-bar {
        display: none; } }
    header .search-bar input {
      background: transparent;
      color: #b8dc1e;
      padding: 2px 12px;
      border-bottom: 1px solid #b8dc1e;
      width: 520px; }
      @media screen and (max-width: 1770px) {
        header .search-bar input {
          width: 280px; } }
      header .search-bar input:hover {
        border-bottom: 1px solid #9dba22; }
      header .search-bar input:focus {
        border-bottom: 1px solid #b2b2b2; }
    header .search-bar button {
      position: absolute;
      right: 12px;
      top: 15px; }
      header .search-bar button i {
        color: #b8dc1e;
        font-size: 14px;
        line-height: 14px;
        font-size: 1.4rem;
        line-height: 1.4rem; }
  header .notifications {
    display: flex;
    margin-top: 18px; }
    @media screen and (max-width: 1280px) {
      header .notifications {
        margin-top: 10px; } }
    @media screen and (max-width: 767px) {
      header .notifications {
        margin-left: auto; } }
    header .notifications div {
      margin-right: 30px;
      position: relative; }
      @media screen and (max-width: 1280px) {
        header .notifications div {
          margin-right: 25px; } }
      @media screen and (max-width: 680px) {
        header .notifications div {
          margin-right: 15px; } }
      header .notifications div a {
        display: block;
        color: white; }
        header .notifications div a span {
          position: absolute;
          right: -10px;
          top: -7px;
          font-size: 10px;
          line-height: 14px;
          font-size: 1rem;
          line-height: 1.4rem;
          font-weight: bold;
          background: #0a83ff;
          color: white;
          display: block;
          width: 19px;
          height: 19px;
          border: 2px solid #333;
          text-align: center;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        header .notifications div a i {
          font-size: 20px;
          line-height: 20px;
          font-size: 2rem;
          line-height: 2rem; }
  header .avatar {
    margin: 11px 0 0 10px; }
    @media screen and (max-width: 1280px) {
      header .avatar {
        margin-top: 2px; } }
    @media screen and (max-width: 680px) {
      header .avatar {
        margin: 7px 0 0 0; } }
    header .avatar img {
      width: auto;
      height: 36px;
      border: 1px solid #b8dc1e; }
      @media screen and (max-width: 680px) {
        header .avatar img {
          height: 26px; } }
      header .avatar img:hover {
        border: 1px solid #b2b2b2; }
  header .language {
    margin-top: 11px;
    height: 36px;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #858585;
    position: relative;
    z-index: 999; }
    @media screen and (max-width: 1280px) {
      header .language {
        margin-top: 2px;
        padding-left: 20px;
        margin-left: 20px; } }
    @media screen and (max-width: 680px) {
      header .language {
        padding-left: 10px;
        margin-left: 10px; } }
    header .language li a {
      display: block; }
      header .language li a .flag-icon {
        font-size: 18px;
        line-height: 22px;
        font-size: 1.8rem;
        line-height: 2.2rem;
        display: block;
        margin-top: -2px; }
      header .language li a div {
        font-size: 11px;
        line-height: 11px;
        font-size: 1.1rem;
        line-height: 1.1rem;
        color: white;
        margin-top: 4px; }
        header .language li a div i {
          margin-left: 1px; }
    header .language li ul {
      position: absolute;
      display: block;
      height: auto;
      margin: 0;
      margin-left: -10px;
      padding: 10px 0 5px;
      border: 0;
      background: #333; }
      header .language li ul li {
        display: block;
        padding: 5px 10px 0; }
        header .language li ul li a {
          display: block; }
  header .main-nav ul li ul.fallback,
  header .language li ul.fallback {
    display: none; }
  header .main-nav ul li:hover ul.fallback,
  header .language li:hover ul.fallback {
    display: block; }
  header .mobile-menu {
    display: none;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #858585;
    z-index: 300;
    height: 19px;
    margin-top: 2px;
    height: 36px;
    padding-top: 8px; }
    @media screen and (max-width: 1280px) {
      header .mobile-menu {
        display: block; } }
    @media screen and (max-width: 680px) {
      header .mobile-menu {
        padding-left: 10px;
        margin-left: 10px; } }
    header .mobile-menu .mobile-toggle {
      width: 34px;
      height: 34px;
      position: relative;
      display: block; }
      header .mobile-menu .mobile-toggle span {
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        background: white;
        -moz-transition: transform 0.2s 0s;
        -o-transition: transform 0.2s 0s;
        -webkit-transition: transform 0.2s 0s;
        -ms-transition: transform 0.2s 0s;
        transition: transform 0.2s 0s; }
        header .mobile-menu .mobile-toggle span:nth-child(1) {
          top: 0; }
        header .mobile-menu .mobile-toggle span:nth-child(2) {
          top: 8px; }
        header .mobile-menu .mobile-toggle span:nth-child(3) {
          top: 16px;
          width: 70%;
          right: 0; }
      header .mobile-menu .mobile-toggle.active {
        margin-top: -4px !important; }
        header .mobile-menu .mobile-toggle.active span {
          -moz-transition: transform 0.2s 0.25s;
          -o-transition: transform 0.2s 0.25s;
          -webkit-transition: transform 0.2s 0.25s;
          -ms-transition: transform 0.2s 0.25s;
          transition: transform 0.2s 0.25s;
          background: #b8dc1e; }
          header .mobile-menu .mobile-toggle.active span:nth-child(1), header .mobile-menu .mobile-toggle.active span:nth-child(3) {
            top: 12px; }
          header .mobile-menu .mobile-toggle.active span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg); }
          header .mobile-menu .mobile-toggle.active span:nth-child(2) {
            opacity: 0; }
          header .mobile-menu .mobile-toggle.active span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            width: 100%; }

/* editors pick */
.editors-pick-wrapper {
  background: url(/img/content/editors.jpg) center no-repeat #333;
  background-size: cover;
  padding: 130px 0 100px; }
  @media screen and (max-width: 1280px) {
    .editors-pick-wrapper {
      padding: 40px 0 100px; } }
  .editors-pick-wrapper h2 {
    text-align: center;
    color: white; }
  .editors-pick-wrapper .tabs-nav ul li a {
    color: white; }
  .editors-pick-wrapper .tabs-nav ul li.active a {
    color: #b8dc1e;
    border-bottom: 3px solid #b8dc1e; }
  .editors-pick-wrapper .editors-pick-grid {
    margin-top: 30px; }
    @media screen and (max-width: 600px) {
      .editors-pick-wrapper .editors-pick-grid {
        margin-top: 0; } }
    .editors-pick-wrapper .editors-pick-grid > div {
      position: relative; }
      @media screen and (max-width: 900px) {
        .editors-pick-wrapper .editors-pick-grid > div {
          width: 33.33333%; } }
      @media screen and (max-width: 600px) {
        .editors-pick-wrapper .editors-pick-grid > div {
          width: 100%; } }
      .editors-pick-wrapper .editors-pick-grid > div:nth-child(1), .editors-pick-wrapper .editors-pick-grid > div:nth-child(5) {
        z-index: 1;
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        transform: scale(0.85); }
        @media screen and (max-width: 600px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(1), .editors-pick-wrapper .editors-pick-grid > div:nth-child(5) {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            margin: -30px 0; } }
      .editors-pick-wrapper .editors-pick-grid > div:nth-child(1) {
        margin-right: -45px; }
        @media screen and (max-width: 1580px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(1) {
            margin-right: -35px; } }
        @media screen and (max-width: 1380px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(1) {
            margin-right: -30px; } }
        @media screen and (max-width: 600px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(1) {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            margin: -30px 0; } }
      .editors-pick-wrapper .editors-pick-grid > div:nth-child(5) {
        margin-left: -45px; }
        @media screen and (max-width: 1580px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(5) {
            margin-left: -35px; } }
        @media screen and (max-width: 1380px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(5) {
            margin-left: -30px; } }
        @media screen and (max-width: 1180px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(5) {
            margin-left: -25px; } }
        @media screen and (max-width: 600px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(5) {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            margin: -30px 0; } }
      .editors-pick-wrapper .editors-pick-grid > div:nth-child(2), .editors-pick-wrapper .editors-pick-grid > div:nth-child(4) {
        z-index: 2; }
        @media screen and (max-width: 600px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(2), .editors-pick-wrapper .editors-pick-grid > div:nth-child(4) {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            margin: -30px 0; } }
      .editors-pick-wrapper .editors-pick-grid > div:nth-child(3) {
        z-index: 3;
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15); }
        @media screen and (max-width: 900px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(3) {
            -webkit-transform: scale(0.85);
            -moz-transform: scale(0.85);
            -ms-transform: scale(0.85);
            transform: scale(0.85);
            margin-left: -30px; } }
        @media screen and (max-width: 600px) {
          .editors-pick-wrapper .editors-pick-grid > div:nth-child(3) {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            margin: -30px 0; } }
  .editors-pick-wrapper .editors-pick-card {
    height: 100%;
    background: white;
    padding: 15px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15); }
    .editors-pick-wrapper .editors-pick-card h5 {
      font-size: 16px;
      line-height: 22px;
      font-size: 1.6rem;
      line-height: 2.2rem;
      font-weight: normal;
      padding: 10px 0 2px; }
    .editors-pick-wrapper .editors-pick-card h6 {
      font-size: 20px;
      line-height: 28px;
      font-size: 2rem;
      line-height: 2.8rem; }
    .editors-pick-wrapper .editors-pick-card .separator {
      margin: 15px auto 17px; }
    .editors-pick-wrapper .editors-pick-card .editors-pick-card__likes span {
      margin: 0 7px;
      color: rgba(51, 51, 51, 0.6); }
      @media screen and (max-width: 1380px) {
        .editors-pick-wrapper .editors-pick-card .editors-pick-card__likes span:last-child {
          margin-top: 10px; } }
      @media screen and (max-width: 900px) {
        .editors-pick-wrapper .editors-pick-card .editors-pick-card__likes span:last-child {
          margin-top: 0; } }
      @media screen and (max-width: 650px) {
        .editors-pick-wrapper .editors-pick-card .editors-pick-card__likes span:last-child {
          margin-top: 10px; } }
      @media screen and (max-width: 600px) {
        .editors-pick-wrapper .editors-pick-card .editors-pick-card__likes span:last-child {
          margin-top: 0; } }
    .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper {
      position: relative; }
      .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper img {
        position: relative;
        z-index: 1; }
      .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper .editors-pick-card__link {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 5px; }
        .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper .editors-pick-card__link:hover .cover-play {
          display: flex; }
      .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper .editors-pick-card__tags {
        width: 100%;
        position: absolute;
        z-index: 3;
        bottom: 15px; }
        .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper .editors-pick-card__tags a {
          margin: 0 3px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 11px;
          line-height: 14px;
          font-size: 1.1rem;
          line-height: 1.4rem;
          color: white;
          padding: 3px 8px;
          background: rgba(157, 186, 34, 0.8); }
          @media screen and (max-width: 1380px) {
            .editors-pick-wrapper .editors-pick-card .editors-pick-card__link-wrapper .editors-pick-card__tags a {
              font-size: 10px;
              line-height: 12px;
              font-size: 1rem;
              line-height: 1.2rem;
              margin: 0 2px;
              padding: 2px 4px; } }

/* create your own */
.create-wrapper {
  background: #eaecf2;
  padding: 70px 0; }
  .create-wrapper .create-intro,
  .create-wrapper .create-item {
    height: 100%;
    text-align: center; }
  .create-wrapper .create-intro {
    background: url(/img/content/man-with-guitar.jpg) center no-repeat #333;
    background-size: cover;
    color: white;
    padding: 30px;
    display: flex; }
    .create-wrapper .create-intro div {
      margin: auto; }
      .create-wrapper .create-intro div h3 {
        color: white; }
        @media screen and (max-width: 1180px) {
          .create-wrapper .create-intro div h3 {
            font-size: 25px;
            line-height: 30px;
            font-size: 2.5rem;
            line-height: 3rem; } }
  .create-wrapper .create-item {
    background: white;
    padding: 40px; }
    @media screen and (max-width: 1180px) {
      .create-wrapper .create-item {
        padding: 20px; } }
    .create-wrapper .create-item div {
      background: #333;
      width: 120px;
      height: 120px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 0 auto;
      display: flex; }
      .create-wrapper .create-item div img {
        margin: auto; }
    .create-wrapper .create-item h4 {
      margin: 20px 0 12px; }
    .create-wrapper .create-item .btn {
      margin: 0 auto;
      margin-top: 30px; }

/* most popular */
.most-popular-wrapper {
  background: url(/img/content/popular.jpg) center no-repeat #333;
  background-size: cover;
  padding: 70px 0; }
  .most-popular-wrapper h2 {
    text-align: center;
    color: white;
    margin-bottom: 60px; }
  .most-popular-wrapper .most-popular-card {
    background: white;
    height: 100%; }
    .most-popular-wrapper .most-popular-card h3 {
      color: white;
      font-size: 15px;
      line-height: 22px;
      font-size: 1.5rem;
      line-height: 2.2rem;
      text-transform: uppercase;
      padding: 15px;
      background: #333;
      border-bottom: 7px solid #b8dc1e; }
    .most-popular-wrapper .most-popular-card ul {
      padding: 15px; }
      .most-popular-wrapper .most-popular-card ul li {
        display: flex;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #c5c5c5; }
        .most-popular-wrapper .most-popular-card ul li:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0; }
    .most-popular-wrapper .most-popular-card .most-popular-card__link {
      margin-right: 15px;
      width: 60px;
      height: 60px;
      position: relative; }
      .most-popular-wrapper .most-popular-card .most-popular-card__link img {
        position: relative;
        z-index: 1; }
      .most-popular-wrapper .most-popular-card .most-popular-card__link a {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
        .most-popular-wrapper .most-popular-card .most-popular-card__link a:hover .cover-play {
          display: flex; }
    .most-popular-wrapper .most-popular-card .most-popular-card__details {
      font-size: 14px;
      line-height: 20px;
      font-size: 1.4rem;
      line-height: 2rem; }
      .most-popular-wrapper .most-popular-card .most-popular-card__details p {
        margin-top: -3px; }
      .most-popular-wrapper .most-popular-card .most-popular-card__details div {
        margin-top: 4px;
        display: flex; }
        .most-popular-wrapper .most-popular-card .most-popular-card__details div span {
          margin-right: 15px;
          color: rgba(51, 51, 51, 0.6); }

/* latest */
.latest-wrapper {
  background: white;
  padding: 70px 0; }
  .latest-wrapper h2 {
    text-align: center; }
  .latest-wrapper .latest-item {
    background: white;
    height: 100%; }
    .latest-wrapper .latest-item h5 {
      font-size: 16px;
      line-height: 30px;
      font-size: 1.6rem;
      line-height: 3rem;
      font-weight: normal; }
    .latest-wrapper .latest-item .latest-item__cover {
      position: relative; }
      .latest-wrapper .latest-item .latest-item__cover img {
        position: relative;
        z-index: 1; }
      .latest-wrapper .latest-item .latest-item__cover a {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 5px;
        background: rgba(51, 51, 51, 0.35);
        color: white; }
        .latest-wrapper .latest-item .latest-item__cover a:hover .cover-play {
          display: flex; }
        .latest-wrapper .latest-item .latest-item__cover a .latest-item__data {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 15px; }
          .latest-wrapper .latest-item .latest-item__cover a .latest-item__data i {
            width: 20px; }
          .latest-wrapper .latest-item .latest-item__cover a .latest-item__data div {
            display: flex;
            margin-top: 10px; }
            @media screen and (max-width: 1180px) {
              .latest-wrapper .latest-item .latest-item__cover a .latest-item__data div {
                display: block; } }
            @media screen and (max-width: 1180px) {
              .latest-wrapper .latest-item .latest-item__cover a .latest-item__data div span {
                display: block; } }
            .latest-wrapper .latest-item .latest-item__cover a .latest-item__data div span:last-child {
              margin-left: auto; }
              @media screen and (max-width: 1180px) {
                .latest-wrapper .latest-item .latest-item__cover a .latest-item__data div span:last-child {
                  margin: 7px 0 0; } }

/* how to */
.how-to-wrapper {
  background: #eaecf2;
  padding: 80px 0 70px; }
  .how-to-wrapper h2 {
    width: 140px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: #eaecf2;
    margin-top: -25px;
    margin-bottom: 40px; }
  .how-to-wrapper .how-to-card {
    background: white;
    height: 100%; }
    .how-to-wrapper .how-to-card img {
      border-bottom: 10px solid #b8dc1e; }
    .how-to-wrapper .how-to-card h5 {
      padding: 10px 0 0 25px; }
    .how-to-wrapper .how-to-card div {
      padding: 15px 25px 25px;
      display: flex; }
      @media screen and (max-width: 1380px) {
        .how-to-wrapper .how-to-card div {
          display: block; } }
      .how-to-wrapper .how-to-card div span {
        margin-left: auto;
        padding-top: 4px;
        font-size: 14px;
        line-height: 18px;
        font-size: 1.4rem;
        line-height: 1.8rem; }
        @media screen and (max-width: 1380px) {
          .how-to-wrapper .how-to-card div span {
            margin: 15px 0 0 0;
            display: block; } }
        .how-to-wrapper .how-to-card div span i {
          margin-right: 5px; }

/* footer */
footer {
  background: #333;
  color: #b0b0b0;
  font-size: 15px;
  line-height: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 32px 0; }
  @media screen and (max-width: 980px) {
    footer {
      text-align: center; } }
  footer .container {
    display: flex; }
    @media screen and (max-width: 980px) {
      footer .container {
        display: block; } }
  @media screen and (max-width: 980px) {
    footer .logo {
      padding-bottom: 30px; } }
  footer .logo a {
    display: block; }
    footer .logo a img {
      vertical-align: middle; }
      footer .logo a img:first-child {
        height: 36px;
        width: auto;
        margin-right: 16px; }
  footer .soc-nav-copy {
    display: flex;
    margin-left: auto;
    padding-top: 9px; }
    @media screen and (max-width: 980px) {
      footer .soc-nav-copy {
        display: block;
        margin-left: 0; } }
    footer .soc-nav-copy .feedback {
      text-transform: uppercase; }
    footer .soc-nav-copy .social-icons,
    footer .soc-nav-copy .footer-nav ul {
      display: flex; }
      @media screen and (max-width: 980px) {
        footer .soc-nav-copy .social-icons,
        footer .soc-nav-copy .footer-nav ul {
          display: block; } }
    footer .soc-nav-copy .social-icons {
      border-left: 1px solid #858585;
      border-right: 1px solid #858585;
      height: 20px;
      padding: 0 12px;
      margin: 0 26px 0 30px; }
      @media screen and (max-width: 980px) {
        footer .soc-nav-copy .social-icons {
          border: 0;
          margin: 15px 0 0; } }
      footer .soc-nav-copy .social-icons a {
        display: block;
        padding: 0 8px; }
        @media screen and (max-width: 980px) {
          footer .soc-nav-copy .social-icons a {
            display: inline-block; } }
    @media screen and (max-width: 980px) {
      footer .soc-nav-copy .footer-nav ul {
        padding-top: 15px; } }
    footer .soc-nav-copy .footer-nav ul li {
      padding: 0 4px; }
      @media screen and (max-width: 980px) {
        footer .soc-nav-copy .footer-nav ul li {
          display: inline-block; } }
      @media screen and (max-width: 420px) {
        footer .soc-nav-copy .footer-nav ul li {
          display: block;
          padding: 5px 0; } }
      @media screen and (max-width: 980px) {
        footer .soc-nav-copy .footer-nav ul li:last-child {
          display: none; } }
    footer .soc-nav-copy p {
      padding-left: 4px; }
      @media screen and (max-width: 980px) {
        footer .soc-nav-copy p {
          padding: 15px 0 0; } }

/*****************************************************************/
