/* variables */

$light: #b2b2b2;
$dark: #333;
$green: #b8dc1e;
$green-dark: #9dba22;
$bg-color: #eaecf2;
$border-light: #c5c5c5;
$border-dark: #858585;
$footer-text: #b0b0b0;
$full: 100%;
$center: 0 auto;
$img-path : "/img/content";